* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* smoth-scoll */
html {
    scroll-behavior: smooth;
}

/* costom */
:root {
    --blue: #00bcd4;
    --black: #121212;
    --dark-blue: #274548af;
    --white: #fff;
    --bg: #222222;
    --btn-hover: #029db1;
    --bt-gray: #262626;
    --hover-shadow: 0 10px 10px #03819243;
    --btn-shadow: 0 3px 10px #029db1;
    --bg-form: #292929;
    --btn--shadow: 0 3px 15px black;
    --tran-slate: translateY(-4px);
}

.nav-logo img {
    width: 50%;
}

body {
    background-color: var(--bg);
}

/* =======Header========= */
/* header */
header {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 150px;
    box-shadow: 0 3px 7px gray;
    position: sticky;
    top: 0;
    z-index: 3;
}

/* nav-logo */
header .nav-logo h3 {
    font-size: 30px;
    font-family: sans-serif;
    color: var(--white);

}

header .nav-logo h3 span {
    color: var(--blue);
}

/* nav-menu */
header .nav-menu {
    display: flex;
    gap: 15px;
    align-items: center;

}

header .nav-menu li a {
    text-decoration: none;
    list-style: none;
    color: var(--white);
    font-family: sans-serif;
    font-weight: bold;
    display: block;
}

header .nav-menu li .contact,
main .hero .btn button,
main .hero .btn button,
main .cantact form .form-btn button {
    padding: 12px 25px;
    background-color: var(--blue);
    border: none;
    border-radius: 50px;
    transition: all 0.3s;
    box-shadow: var(--btn-shadow);

}

header .nav-menu li a:not(.contact):hover {
    color: var(--blue);
}

header .nav-menu li .contact:hover,
main .hero .btn button:hover {
    transform: var(--tran-slate);
    box-shadow: var(--btn--shadow);
}

/*====body===  */
/*====main===  */
main {
    padding: 0px 150px;
}

main .hero {
    width: 100%;
    height: 90vh;
    /* background-color: #000000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .hero h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 55px;
    color: var(--white);
    line-height: 60px;
}

main .hero h1 span {
    color: var(--blue);
}

main .hero p {
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;

}

main .hero .btn {
    margin-top: 50px;
}

main .hero .btn button {
    color: white;
    cursor: pointer;
    margin-left: 20px;
}

main .hero .btn .btn-1 {
    background-color: transparent;
    /* color:var(--black) */
    color: white;
}

/* ==About== */
main .about {
    width: 100%;
}

main .about h3,
main .Project h3,
main .cantact h3 {
    color: var(--blue);
    font-family: sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
}

/* gruop-box */
main .about .gruop-box {
    width: 100%;
}

/* .one-box */
main .about .gruop-box .one-box,
main .about .gruop-box .three-box .box,
main .Project .Project-box .box,
main .cantact form {
    width: 100%;
    background-color: var(--bt-gray);
    border: 1px solid gray;
    border-radius: 17px;
    padding: 25px;
    color: var(--white);
    /* font-size: 14px; */
    line-height: 21px;
    font-family: sans-serif;
    /* margin-top: 50px; */
    font-size: 14px;
    transition: all 0.3s;
}

/* three box */
main .about .gruop-box .three-box,
main .Project .Project-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

main .about .gruop-box .one-box:hover,
main .about .gruop-box .three-box .box:hover,
main .Project .Project-box .box:hover,
main .cantact form:hover {
    transform: translatey(-4px);
    box-shadow: var(--hover-shadow);
}

main .about .gruop-box .three-box .box,
main .Project .Project-box .box {
    width: 33%;
}

main .about .gruop-box .three-box .box h5,
main .Project .Project-box .box h5 {
    font-size: 24px;
    font-family: sans-serif;
    margin-bottom: 10px;

}

/* == Project-box==*/
main .Project .Project-box .box h5 {
    color: var(--blue);
}

/* ==Project-box== */
main .Project,
main .cantact {
    width: 100%;
    margin-top: 100px;
}

main .Project .Project-box .box .btn-box {
    margin-top: 10px;

}

main .Project .Project-box .box .btn-box button {
    padding: 7px 15px;
    border: none;
    border-radius: 50px;
    color: var(--blue);
    background-color: #00bbd448;
    font-weight: bold;
    margin-right: 4px;
}

/* ==========Contact============= */
main .cantact {
    width: 55%;
    /* magin-top  magin-right magin-right magin-buttom*/
    margin: 100px auto 0 auto;
}

main .cantact form {
    padding: 32px;
}

main .cantact form .gruop-form {
    margin-bottom: 18px;
}

main .cantact form .gruop-form label {
    font-weight: bold;


}

main .cantact form .gruop-form input,
main .cantact form .gruop-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    outline: 1px solid gray;
    margin-top: 10px;
    border: none;
    background-color: var(--bg-form);
    color: white;

}

main .cantact form .gruop-form input:focus,
main .cantact form .gruop-form textarea:focus {
    outline: 1px solid var(--blue);
}

main .cantact form .gruop-form textarea {
    width: 100%;
    height: 200px;
}

main .cantact form .form-btn button {
    width: 100%;
}

/* <!-- foter --> */
footer {
    padding: 25px;
    background-color: var(--black);
    margin-top: 100px;

}

footer p {
    color: var(--white);
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
    list-style: none;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    transition: all 0.3s;

}

footer ul li a :hover {
    background-color: var(--blue);
}

/* =====Responsive==== */
/* 1300 */
@media(max-width:1300px){
    main .Project .Project-box {
    flex-wrap: wrap ;
}
    main .Project .Project-box .box{
    width: 48.5%;
}
}

/* 1100 */
@media (max-width:1100px) {
    header {
        padding: 18px 100px;
    }
}

/* 1150px */
@media (max-width:1150px) {
    main {
        padding: 0px 100px;
    }
}

/* 1030 */
@media (max-width:1030px) {
    main {
        padding: 0px 50px;
    }
}
/* 920px */
@media (max-width:920px){
     main {
        padding: 0px 30px;
    }
}
/* 880px */
@media (max-width:880px) {
    header {
        padding: 12px 40px;
    }
main .about .gruop-box .three-box{
    flex-wrap: wrap;
}
    
main .about .gruop-box .three-box .box{
    width: 48.1%;
}
    main {
        padding: 0px 30px;
    }
}

/* 700px */
/* 760px */
@media (max-width:760px){
    main .Project .Project-box .box {
    width: 100%;
}
main .cantact{
    width: 100%;
    
    
}
}

/* 630px */
@media (max-width:630px) {
    header .nav-menu {
        display: none;
    }
main .about .gruop-box .three-box .box{
    width: 100%;
}
    header .nav-logo {
        margin: auto;
    }
}

/* 576px */
@media (max-width:576px) {
    main .hero h1 {
        font-size: 50px;
        line-height: 70px;
    }
    
}